html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#top {
  text-align: center;
  margin: 0 auto;
}

#top h1 {
  font-size: 2em;
}

#content {
  margin-top: 100px;
  font-size: 2em;
  text-align: center;
}

#gridContainer {
  padding: 5%;
  display: grid;
  justify-content: center;
}

#rightImage, #leftImage {
  max-height: 5rem;
  max-width: 5rem;
  grid-row-start: 1;
}

#rightImage, #rightChoice {
  grid-column-start: 1;
}

#leftImage, #leftChoice {
  grid-column-start: 2;
}

#rightChoice, #leftChoice {
  margin: 10%;
}